
autostart
dconf
discord
Electron
glib-2.0
gtk-3.0
htop
ibus
kitty
neofetch
nvim
nwg-look
OpenRGB
paradox-launcher-v2
pavucontrol.ini
pulse
user-dirs.dirs
user-dirs.locale
xsettingsd
kitty


!waybar/
!hypr/
!nvim/
!kitty/
